.heading{
    width: 80%;
    font-size: 25px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:black;

}
#camera{
border: 2px dashed red;
width: 350px; height: 350px;
}
body{
background-color:pink;
}